$green:#1f8e4d;

*{
    margin: 0;
    padding: 0;
    font-family: "Cuprum", serif;
}
a{
    text-decoration: none;
    color: #000;
}
html{
    background-color: #ffffff;

}
body{
    border-color: $green;
    border-style: solid;
    border-width: 5px;
}
.person-info-holder{
    padding-right: 15px;
    padding-top: 35px;
    margin-left: 40px;
    text-align: right;
    margin-bottom: auto;
}
.icon{
    background-color: $green;
    border-color: $green;
    border-radius: 7px;
    border-style: solid;
    border-width: 10px;
    width: 30px;
    height: 30px;
    padding-left: 5px;
    padding-right: 5px;
}
#inst{
    width: 20px;
    height: 20px;
    padding-left: 0px;
    padding-right: 0px;
    border-width: 0px;
}
.video{
    position: relative;
}
.videoPlayer{
    display: flex;
    width: 50%;
    margin: 0 auto;
    border: 4px #1f8e4d solid;
}
.video-caption{
    text-align: center;
    margin: 0 auto;
    width: 80%;
    font-size: 80%;
}
// i dunno why but this is the only way to make it work
.image{
    display: flex;
}
.image img{
    width: 60%;
    margin: 0 auto;
}
.play-button{
    background-image: url("../img/play-button-arrowhead.png");
    border: snow solid 4px;
    background-size: 25px 25px;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #1f8e4d;
    width: 50px;
    height: 50px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}
.life{
    display: flex;
    justify-content: flex-start;
    margin-left: 2%;
}
.lifee{
    margin-left: 5px;
}
.lnz{
    width: 50px;
    height: 50px;
}
.menu_lnz{
    display: flex;
    padding-left: 10px;
    justify-content: flex-start;
}
.lnzz{
    padding-top: 15px;
    padding-left: 15px;
}
.menu{
    display: flex;
    justify-content: space-between;
    margin: 2.5px;
}
.personal-image{
    width: 50%;
    height: 150px;
    border-color: $green;
    border-style: solid;
    border-width: 3px;
    object-fit: cover;
    margin: 0px;
}
.personal-data{
    display: flex;
    justify-content: space-between;
    padding-left: 25px;
    padding-right: 25px;
}
.pair{
    font-size: 80%;
    text-align:center;
    padding: 2.5px;
    margin-left: 15px;
    margin-right: 15px;
}
.paair{
    font-size: 80%;
    padding: 2.5px;
    margin-left: 15px;
    margin-right: 15px;
}
hr{
    border-color: $green;
    border-style: solid;
    border-width: 1px;
    padding: 0;
    margin-left: 15px;
    margin-right: 15px;
}
.footer{
    background-color: $green;
    height: 50px;
    margin: 0;
    padding: 0;
    width: 100%;
}
.footer p{
    font-size: 80%;
    text-align:center;
    padding: 2.5px;
    padding-top: 15px;
    color: #fff;
}