<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Анастасія Чигарева</title>
    <link rel="icon" type="img/png" href="../static/img/logo.png">
    <link rel="stylesheet" href="../static/css/style.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Cuprum:ital,wght@0,400..700;1,400..700&display=swap');
    </style>
</head>

<body>
    <div class="menu">
        <div class="menu_lnz">
            <a href="../templates/index.html"><img src="../static/img/logo.png" class="lnz"></a>
            <p class="lnzz">
                <b>Ліцей "Наукова Зміна"</b>
            </p>
        </div>
        <a href="" style="padding-top: 2.5px;"><img src="../static/img/menu-burger.png" class="icon"></a>
    </div>
    <div class="mcontainer">
        <div class="ccontainer">
            <div class="personal-data">
                <img src="../static/img/AnastasiaChyhareva.jpg" alt="" class="personal-image">
                <div class="person-info-holder" style="margin-left: 12px; padding-right: 0;"> <!--This custom properties was changed to make it look better-->
                    <b><p>Анастасія Чигарева</p></b>
                    <p style="margin-left: -6px;">Українська науковиця — метеорологиня</p>
                </div>
            </div>
            <br>
            <div class="main-text">
                <p class="pair">Українська науковиця, метеорологиня, основний напрям дослідження полярні хмари та опади. Доктор філософії в галузі «Науки про Землю», тема дисертації «Хмари та опади в районі Антарктичного Півострова: мікрофізика, мезомасштабні процеси, кліматичні проєкції до кінця ххі ст.»</p>
                <br>
                <hr>
                <br>
                <div class="image">
                    <img src="../static/img/AnastasiaChyhareva_expedition1.jpg" alt="">
                </div>
                <br>
                <hr>
                <br>
                <div class="image">
                    <img src="../static/img/AnastasiaChyhareva_expedition2.jpg" alt="">
                </div>
                <br>
                <hr>
                <br>
                <p class="pair" >
                   Учасниця сезонного загону Українських Антарктичних Експедицій у 2021, 2022, 2024 i 2025pp.

Працює в Українському Гідрометеорологічному Інституті ДСНС та НАН України та Національному Антарктичному Науковому Центрі України.

Викладач в КНУ ім. Т. Шевченка (предмети термодинаміка атмосфери та методи аналізу метео процесів і полів)

Наукові дослідження виконуються частково в межах міжнародних проєктів Oceanice та PolarRES</p>
                    <br>
                    <hr>
                    <br>
            </div>
        </div>
    </div>
    <div class="lifee" style="margin-left: 5%;">
        <p>Наукові роботи:</p>
        <div style="margin-left: 2%; ">
            <div class="life">
                <p><a href="https://scholar.google.com/citations?user=w5Lw-WcAAAAJ&hl=uk&authuser=1" target="_blank" style="color: #0000EE;">Google Scholar</a></p><br>
            </div>
            <div class="life">
                <p><a href="https://orcid.org/0000-0003-0195-751X" target="_blank" style="color: #0000EE;">ORCID</a></p>
            </div>
        </div>
        <p>Соцмережі:</p>
        <div style="margin-left: 2%; ">
            <div class="life">
                <p><a href="https://www.facebook.com/?locale=uk_UA" target="_blank" style="color: #0000EE;">Facebook</a></p><br>
            </div>
            <div class="life">
                <p><a href="https://www.instagram.com/nastiachyhareva/" target="_blank" style="color: #0000EE;">Instagram</a></p>
            </div>
        </div>
        <p>Наукові роботи:</p>
        <div style="margin-left: 2%; ">
            <div class="life">
                <p><a href="https://ocean-ice.eu" target="_blank" style="color: #0000EE;">Oceanice</a></p><br>
            </div>
            <div class="life">
                <p><a href="https://polarres.eu" target="_blank" style="color: #0000EE;">PolarRES</a></p>
            </div>
        </div>

    </div>
    <br>
    <div class="footer">
        <p>Ліцей “Наукова зміна” 2025, Київ</p>
    </div>
    <script src="../static/scripts/videoPlayer.js"></script>
</body>
</html>