<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Андрій Сухов</title>
    <link rel="icon" type="img/png" href="../static/img/logo.png">
    <link rel="stylesheet" href="../static/css/style.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Cuprum:ital,wght@0,400..700;1,400..700&display=swap');
    </style>
</head>

<body>
    <div class="menu">
        <div class="menu_lnz">
            <a href="../templates/index.html"><img src="../static/img/logo.png" class="lnz"></a>
            <p class="lnzz">
                <b>Ліцей "Наукова Зміна"</b>
            </p>
        </div>
        <a href="" style="padding-top: 2.5px;"><img src="../static/img/menu-burger.png" class="icon"></a>
    </div>
    <div class="mcontainer">
        <div class="ccontainer">
            <div class="personal-data">
                <img src="../static\img\Andriy.jpg" alt="" class="personal-image">
                <div class="person-info-holder">
                    <b>
                        <p>Андрій Сухов</p>
                    </b>
                    <p style="margin-left: -6px;">IT-підприємець та бізнесмен
                    </p>
                    <p style="margin-left: -6px;">Співзасновник Асоціації провайдерів програмних РРО України,
                        співзасновник та CEO сheckbox, Dubidoc, Navkolo
                    </p>
                </div>
            </div>
        </div>
        <br>
        <div class="main-text">
            <p class="pair">“Наші сервіси — це не лише програмна каса, а й потужні інструменти для управління та
                автоматизації бізнесу”


                Співзасновник | Dubidoc
                2024 — дотепер
                Співзасновник | Navkolo
                2022 — дотепер
                Співзасновник та директор | checkbox
                2020 — дотепер
                На посаді Technical Consultant у НАЗК
                2022 — 2024
                На посаді Technical Consultant у НАДС
                2019 — 2021
            </p>
            <br>
            <hr>
            <br>
            <p class="pair">
                Основні компетенції: <br>
                • 10+ річний досвід роботи у сфері інформаційних технологій та розвитку бізнесу <br>
                • Багаторічний досвід роботи з продуктами на перетині бізнесу та державної регуляторної системи <br>
                • Глибоке розуміння технологій та побудови продуктів для автоматизації бізнесу <br>
                • Також впродовж своєї професійної діяльності Андрій Сухов виступав технічним консультантом у НАДС -
                Національне
                агентство України з питань державної служби та Національне агентство України з питань державної служби -
                НАЗК
            </p>
            <br>
            <hr>
            <br>
            <p class="pair"> Професійна діяльність: <br>
                Розробник ІТ-систем для державної служби.
                У серпні 2021 року бізнесмени Дмитро Дубілет та Андрій Сухов запустили сервіс сheckbox.
                Наразі, Андій є співзасновник та директор ТОВ ЧЕКБОКС – ПРРО №1 в Україні, та Navkolo – екосистеми для
                автоматизації
                українського бізнесу.
                Андрій також автор ідеї та співзасновник Об'єднання сервіс-провайдерів програмних РРО України.


                Являється одним із лідерів впровадження рішень для автоматизації МСБ в Україні з 2020 року

            </p>
            <br>
            <hr>
            <br>
            <p class="pair"> Інше (та\або громадська діяльність): <br>
                Андрій також розвиває в паралелі з партнерами ряд продуктів у напрямку виробництва в галузі Mil-Tech.
                Входить до робочих
                груп по питаннях ПРРО при Мінфіні. Завжди старається підтримувати і запускати соціальні ініціативи в
                рамках КСВ
                (Корпоративно соціальної відповідальності).

            </p>
            <br>
            <hr>
            <br>

        </div>
    </div>
    <br>
    <div class="lifee" style="margin-left: 5%;">
        <p>Дізнайся більше про теперішнє життя випускника у соц. мережах</p>
        <div class="life">
            <img class="icon" id="inst" src="../static/img/icon.png">
            <p style="margin-left:5px;"><a href="https://www.instagram.com/andrii.sukhov/ ">Андрій Сухов</a></p>
        </div>
        <p>Додаткова відео матеріали:</p>
        <div style="margin-left: 2%; ">
            <p><a href="https://www.youtube.com/watch?v=nGCtiJCjDks" target="_blank" style="color: #0000EE;">Андрій Сухов: "Корупцію треба викорінювати, щоб держава не втрачала репутації, а люди — мотивації."</a></p><br>
            <p><a href="https://www.youtube.com/watch?v=Ohm1JZv_dbM" target="_blank" style="color: #0000EE;">Як Checkbox робить щасливими 98% бухгалтерів?</a></p>
        </div>
    </div>
    <br>
    <div class="footer">
        <p>Ліцей “Наукова зміна” 2025, Київ</p>
    </div>
</body>



</html>