<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ніна Баликова</title>
    <link rel="icon" type="img/png" href="../static/img/logo.png">
    <link rel="stylesheet" href="../static/css/style.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Cuprum:ital,wght@0,400..700;1,400..700&display=swap');
    </style>
</head>

<body>
    <div class="menu">
        <div class="menu_lnz">
            <a href="../templates/index.html"><img src="../static/img/logo.png" class="lnz"></a>
            <p class="lnzz">
                <b>Ліцей "Наукова Зміна"</b>
            </p>
        </div>
        <a href="" style="padding-top: 2.5px;"><img src="../static/img/menu-burger.png" class="icon"></a>
    </div>
    <div class="mcontainer">
        <div class="ccontainer">
            <div class="personal-data">
                <img src="../static/img/BalykovaNina.jpg" style="height: 200px" alt="" class="personal-image">
                    <div class="person-info-holder">
                        <b><p>Ніна Баликова</p></b>
                        <p style="margin-left: -6px;">Українська перекладачка з японської, лавреатка премії ім. Максима Рильського (2018), член НСЖУ.</p>
                    </div>
                </div>
            </div>
            <br>
            <div class="main-text">
                <p class="pair">Ніна Сергіївна Баликова (нар. 28 березня 1989, Київ) — українська перекладачка з японської, лавреатка премії ім. Максима Рильського (2018). Член Національної спілки журналістів України.</p>
                <br>
                <hr>
                <br>
                <p class="pair">Народилася в журналістській сім'ї. З дитинства захоплювалася японським аніме, згодом зацікавилася вивченням японської історії, літератури, мистецтва.
                    <!-- <br><br> -->
                    Закінчила київський ліцей «Наукова зміна», брала участь у всеукраїнських і міжнародних учнівських олімпіадах і літературних конкурсах, у яких перемагала й посідала призові місця.
                    <!-- <br><br> -->
                    У 2006 році нагороджена дипломом 2-го ступеня Всеукраїнського конкурсу-захисту науково-дослідницьких робіт учнів — членів Малої академії наук України. Отримала стипендію Президента України (2006/2007 навчальний рік).
                    <br><br>
                    З відзнакою закінчила Київський національний університет імені Тараса Шевченка, здобула ступінь магістра з правом викладання, перекладу і дослідницької роботи, спеціальність — японська мова та література і англійська мова.
                    <!-- <br><br> -->
                    У 2010—2011 роках навчалася й стажувалася з японської мови в Університеті Тенрі (Японія). У лютому 2011 року разом з групою японських студентів стажувалася в Інституті англійської мови Ґріффіт (Австралія).
                    <br><br>
                    У вересні 2012 року пройшла відбірковий етап за стипендіальною дослідницькою програмою Міністерства освіти і науки Японії, досліджувала тему: «Social Role of Media in Coverage of Industrial Accidents (comparing Fukushima Daiichi and Chernobyl)».
                    <!-- <br><br> -->
                    З жовтня 2013 по лютий 2015 року досліджувала цю тему в Токійському університеті. З квітня 2015 по вересень 2017 навчалася в токійському Університеті Васеда, де здобула ступінь магістра з медіа та міжнародних комунікацій.
                    <br><br>
                    З жовтня 2013 року працювала позаштатним кореспондентом, а від жовтня 2014-го до повернення в Україну — власним кореспондентом газети «Голос України» в Японії.
                    <!-- <br><br> -->
                    Аспірантка Інституту філології, тема дисертаційного дослідження — «Самітницька література Японії: від трансгресії до канону».</p>
                <br>
                <hr>
                <br>
                <p class="pair">Авторка статей у наукових збірниках з японської мови й літератури, перекладів давньояпонської класичної прози.

                    Уривки з книжки есеїв філософа, письменника, буддійського монаха XIV століття Кенко-хоші «Нотатки знічев'я» українською мовою надруковано в другому томі хрестоматії японської літератури (2011).
                    <br><br>
                    Лекцію на тему самітництва в японській літературі жанру «дзуйхіцу» вміщено в підручнику «Японська література: Курс лекцій» (2015).
                    
                    У серпні 2017 року в державному спеціалізованому видавництві «Либідь» вийшла друком книжка першого українського перекладу твору Кенко-хоші «Нотатки знічев'я». Видання презентовано в Києві в Мистецькому арсеналі.
                    <br><br>
                    Цей переклад здобув Премію Кабінету Міністрів України імені Максима Рильського за 2017 рік (вручено в листопаді 2018-го).
                    
                    Авторка книжки дитячих казок «Міс Кішка» — видання з частиною авторських ілюстрацій (2004).</p>
                <br>
                <hr>
                <br>
                <b><p class="paair" style="font-size: 120%;">Нагороди</p></b><br>
                <ul style="margin-left: 10%;">
                    <li><a href="https://uk.wikipedia.org/wiki/%D0%9F%D1%80%D0%B5%D0%BC%D1%96%D1%8F_%D1%96%D0%BC%D0%B5%D0%BD%D1%96_%D0%9C%D0%B0%D0%BA%D1%81%D0%B8%D0%BC%D0%B0_%D0%A0%D0%B8%D0%BB%D1%8C%D1%81%D1%8C%D0%BA%D0%BE%D0%B3%D0%BE" target="_blank" style="text-decoration: underline;">Премія імені Максима Рильського</a> (2018)</li>
                    <li><a href="https://uk.wikipedia.org/wiki/%D0%92%D1%96%D0%B4%D0%B7%D0%BD%D0%B0%D0%BA%D0%B8_%D0%9D%D0%90%D0%9D_%D0%A3%D0%BA%D1%80%D0%B0%D1%97%D0%BD%D0%B8" target="_blank" style="text-decoration: underline;"> Президії Національної академії наук України</a> (2004, 2006)</li>
                </ul>
                <br>
                <hr>
                <br>
                <p class="pair">Подання на присудження премії імені М. Рильського здійснив Держкомтелерадіо на основі рішення спеціального комітету з премії, до складу якого входять представники центральних органів виконавчої влади, творчих спілок та громадських організацій.

                    На здобуття премії цього року було висунуто 5 перекладів літературних творів сучасних зарубіжних авторів з французької, англійської та давньояпонської мов на українську мову.
                    <br><br>
                    Премія імені М. Рильського була заснована 1972 року і відновлена 2013 року за ініціативою Держкомтелерадіо, благодійної організації «Фонд Максима Рильського «Троянди й виноград», Українського фонду культури України та НСПУ.
                    <br><br>
                    Присуджується щороку на конкурсних засадах письменникам і поетам за переклад українською мовою творів видатних зарубіжних авторів, а також за переклад творів українських класиків та сучасних авторів мовами народів світу.
                    
                    Звання лауреата Премії присвоюється винятково одному номінантові.
                    
                    Перше нагородження відновленою Премією імені М. Рильського відбулося 2014 року.</p>

        </div>
    </div>
    <br>
    </div>
    <br>
    <div class="footer">
        <p>Ліцей “Наукова зміна” 2025, Київ</p>
    </div>
</body>



</html>