<!DOCTYPE html>
<html lang="uk">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Сашко Чубко</title>
    <link rel="icon" type="img/png" href="../static/img/logo.png">
    <link rel="stylesheet" href="../static/css/style.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Cuprum:ital,wght@0,400..700;1,400..700&display=swap');
    </style>
</head>

<body>
    <div class="menu">
        <div class="menu_lnz">
            <a href="../templates/index.html"><img src="../static/img/logo.png" class="lnz"></a>
            <p class="lnzz">
                <b>Ліцей "Наукова Зміна"</b>
            </p>
        </div>
        <a href="" style="padding-top: 2.5px;"><img src="../static/img/menu-burger.png" class="icon"></a>
    </div>
    <div class="mcontainer">
        <div class="ccontainer">
            <div class="personal-data">
                <img src="../static/img/SashkoChubko.jpg" alt="" class="personal-image">
                <div class="person-info-holder">
                    <b><p>Сашко Чубко</p></b>
                    <p style="margin-left: -6px;">Кінопродюсер, військовий репортер</p>
                </div>
            </div>
        </div>
        <br>
        <div class="main-text">
            <p class="pair">Сашко Чубко — кінопродюсер і військовий репортер, лауреат численних міжнародних нагород та відзнак.</p>
            <br>
            <hr>
            <br>
            <p class="pair">Лауреат Пулітцерівської премії та Overseas Press Club Award у складі команди The New York Times. Володар журналістської премії Kurt Schork News Fixer Award 2024.</p>
            <br>
            <hr>
            <br>
            <p class="pair">Член Європейської кіноакадемії, призер багатьох міжнародних кінофестивалів, продюсер фільму "Довбуш". Отримав премію "Золота Дзиґа" за фільми "Папині Кросівки" та "Ля Палісіада".</p>
            <br>
            <hr>
            <br>
            <p class="pair">Фільм "Ля Палісіада", продюсером якого є Чубко, здобув Національну премію "Кіноколо" та представлятиме Україну на 97-й церемонії вручення премії "Оскар" у категорії "Найкращий міжнародний повнометражний фільм".</p>
            <br>
            <hr>
            <br>
        </div>
    </div>
    <br>
    <div class="lifee" style="margin-left: 5%;">
        <p>Дізнайся більше про теперішнє життя випускниці у соц. мережах</p><br>
        <a href="https://www.facebook.com/sashko.chubko" target="_blank">
            <div class="life">
                <img class="icon" id="inst" src="../static/img/facebook.png">
                <p style="margin-left:5px;">Чубко Олександр</p>
            </div>
        </a>
        <p>Додаткові статті:</p>
        <div style="margin-left: 2%; ">
            <p><a href="https://grnt.media/interview/z-prodyuserom-filmu-la-palisiada/" target="_blank" style="color: #0000EE;">Остання страта в Україні відбулась в 96-му: інтервʼю з продюсером фільму «Ля Палісіада» - ҐРУНТ</a></p>
        </div>
    </div>
    <br>
    <div class="footer">
        <p>Українське кіно 2025, Київ</p>
    </div>
    <script src="../static/scripts/videoPlayer.js"></script>
</body>

</html>
