<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Дмитро Джеджула</title>
    <link rel="icon" type="img/png" href="../static/img/logo.png">
    <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>
    <div class="menu">
        <div class="menu_lnz">
            <a href="../templates/index.html"><img src="../static/img/logo.png" class="lnz"></a>
            <p class="lnzz">
                <b>Ліцей "Наукова Зміна"</b>
            </p>
        </div>
        <a href="" style="padding-top: 2.5px;"><img src="../static/img/menu-burger.png" class="icon"></a>
    </div>
    <div class="mcontainer">
        <div class="ccontainer">
            <div class="personal-data">
                <img src="../static/img/DmytroDzhedzhula.jpg" alt="" class="personal-image">
                <div class="person-info-holder" style="margin-left: 12px; padding-right: 0;"> <!--This custom properties was changed to make it look better-->
                    <b><p>Дмитро Джеджула</p></b>
                    <p style="margin-left: -6px;">маркетинговий експерт із 20-річним досвідом, консультант і член журі Effie Awards Ukraine</p>
                </div>
            </div>
            <br>
            <div class="main-text">
                <p class="pair">Колись після двотижневої терапії я знову повернувся. Так повторювалось іще два рази. Загалом два місяці пошуків відповіді на запитання «навіщо?» у стелі лікарняної палати протягом двох з лишком років.

                    І в останній день четвертого разу до мене прийшов «інсайт»…
                    
                    Колись, одного разу ми приходимо у це життя безмежних можливостей. Але є дві речі, яких уникнути неможливо.</p>
                <br>
                <hr>
                <br>
                <p class="pair">
                    Перше – це фізична Смерть, яка може трапитись коли завгодно і з ким завгодно. Саме тому її варто поважати, але боятися — точно ні. Адже, якщо отруїти кожен день страхом перед невідомим кінцем, то справжнє життя так і не розпочнеться. Коли приймаєш факт смерті і його неминучість, усі решта негараздів різко дрібнішають, стають не такими значущими.

                    Друге — це Зміни. Вони неминучі. Вони відбуваються завжди, навіть якщо ми намагаємося сховатись від них, заціпеніти в бездіяльності чи втупитись у своє відображення в екрані смартфона. Все змінюється. Ми змінюємось.

                    Найбільше глупство – намагатися зупинити зміни та прагнути стабільності. Найцінніше, що може опанувати людина, — це здатність свідомо змінюватись і навіть трішки випереджати свій час.
                </p>
                <br>
                <hr>
                <br>
                <p class="pair">Діяти відповідно до завдань і контексту у цій матриці світоустрою, де немає точки «0», а є лише дві неминучі речі та два вибори…

                    Колись я поділюся цією нехитрою концепцією з моєю донечкою. І, сподіваюся, одного чи багато разів вона допоможе їй зробити свій вибір…
                    
                    Одного разу, 9 (вже 15) років тому я почав ставити на співбесідах контрольне питання про плановий текст на надгробку. Але скасував його після повномасштабного вторгнення. Для багатьох воно стало першим поштовхом замислитись, що наступна мить може просто не настати. Сьогодні у нас, на жаль, вистачає стимулів задуматися про це.
                    
                    Та все одно запитаю: як ти? І чи щасливий прямо зараз?
                    
                    Колись ти спитаєш у мене «Як ти?» Я відповім простою латинською примовкою «Dum vivo, prosum!» – «Допоки я живий, у мене все відмінно!». Бо все ще можна змінити.
                    
                    Як колись склалося в мене в голові віршиком:
                    
                    «Keep walking, or running, but never stop flying!»</p>
                <br>
                <hr>
                <br>
                <p class="pair" >
                    Колись ти будеш щасливою людиною.

                    Пам’ятай, що створити посереднє лайно і непересічне «вау!» займає приблизно однаковий час. Радість від того, що настав новий день, що за вікном гарний сніг, що у ворогів палає, чи страждання від того, що до весни ще два дні, а до «пенсії» – 20 років…

                    Це теж вибір.

                    Можливо, твоє «Колись я буду щасливим» — це саме зараз, у цю мить?</p>
                <br>
                <hr>
                <br>
                <p class="pair">
                    P.S. Цей текст від щирого серця давно варто було перекласти моєю рідною мовою. А сьогодні, переглядаючи медичні документи, відчув, що текст та автор уже достатньо дорослі, щоб не чекати на формальне повноліття події-стартера 19 серпня чи навіть на завтра, 19 липня 2024 року.

                    Як і шість років тому, текст присвячений мені і одній людині, яку він надихне замислитись і діяти в напрямку змін.

                    З подякою всім подорожнім з мого шляху, продовжую його торувати, радіючи кожному новому дню та диханню, попри всі обмеження, що назавжди зі мною, та обставини, які можуть виникнути.

                    Слава Україні! 🇺🇦❤️
                </p>
                <br>
                <hr>
                <br>
            </div>
        </div>
    </div>
    <br>
    <div class="lifee">
        <p>Дізнайся більше про теперішнє життя випускника у соц. мережах</p>
        <div class="life">
            <img class="icon" id="inst" src="../static/img/icon.png">
            <p style="margin-left:5px;"><a href="https://www.instagram.com/dzhedzhula?igsh=MXMwY3BpYmcweXlqbA== ">Дмитро Джеджула</a></p>
        </div>
    </div>
    <br>
    <div class="footer">
        <p>Ліцей “Наукова зміна” 2025, Київ</p>
    </div>
</body>
</html>