<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Дмитро Ясєнєв</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>
    <div class="menu">
        <a href=""><img src="../static/img/menu-burger.png"></a>
        <a href="../templates/index.html"><img src="../static/img/home.png"></a>
        <a href=""><img src="../static/img/users-alt.png"></a>
        <p class="name">Головна сторінка</p>
    </div>
    <div class="mcontainer">
        <div class="ccontainer">
            <div class="personal-data">
                <img src="../static/img/DmytroYasenev.jpg" alt="" class="personal-image">
                <div class="person-info-holder">
                    <p>Дмитро Ясєнєв</p>
                    <p>програміст компанії GSC Game World</p>
                </div>
            </div>
            <div class="main-text">
                <p class="pair">Народився 6 січня 1979 року в Києві в сім'ї програмістів. Батько Дмитра — кандидат у майстри спорту з шахів, 
                    тож грати у шахи Дмитро навчився ще у дошкільному віці. У зв'язку з цим першою мрією було стати чемпіоном світу з шахів. 
                    Але за вечерею батьки обговорювали свою роботу, а Дмитро не розумів їх, але дуже хотів взяти участь. 
                    З 1992 року почав навчатися в ліцеї «Наукова зміна». Після його закінчення 1996-го року вступив до Київського національного 
                    університету імені Тараса Шевченка на факультет кібернетики. Паралельно навчаючись, у серпні 1997-го влаштувався працювати в
                     інформаційно-аналітичний центр «БІТ» на посаду програміста, займався програмуванням утиліт: програм встановлення, 
                     стиснення, шифрування з використанням електронних ключів, система індексованого пошуку.
                </p>
                <p class="unpair">2002-го закінчив з відзнакою зі ступенем магістра закінчив з відзнакою.
                    Тема магістратського диплома: "Конструювання функцій оцінки" 
                    (для детермінованих антагоністичних ігор двох гравців на дошці з повною інформацією).
                </p>
                <p class="pair">На момент завершення написання диплома Дмитро починав шукати роботу. 
                    У пошуках допомагала мама, яка відправила вакансію програміста штучного інтелекту в GSC Game World. 
                    Він прийшов на співбесіду, поспілкувався з Олесем Шишковцовим та Олександром Максимчуком, 
                    показав свою програму, яка грає у реверсі. Поспілкувався з Антоном Большаковим, потім із Сергієм Григоровичем. 
                    Обміркувавши інші варіанти, погодився на випробувальний термін. Так 19 березня 2002 року приєднався до 
                    розробки S.T.A.L.K.E.R.: Oblivion Lost на посаду програміста ІІ.
                </p>
                <p class="unpair">У жовтні 2006 року, приєднавшись до розробки «S.T.A.L.K.E.R.: Чисте небо», 
                    був підвищений на посаду провідного програміста, почав керувати відділом програмування разом з Андрієм Коломійцем. 
                    Але паралельно продовжувати доопрацьовувати оригінальну гру аж до відправлення «на золото»:
                </p>
                <p class="pair">7 червня 2011 року провідний програміст компанії Дмитро Ясенєв в інтерв'ю сайту GSC-Fan.com 
                    на питання про версію «S.T.A.L.K.E.R.: Зов Прип'яті» на Xbox 360 відповів, що їм вдалося запустити допоміг 
                    при розробці нової версії рушія X-Ray Engine.</p>
            </div>
        </div>
    </div>
</body>

</html>