<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Видатні люди ліцею</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/mainstyle.css">
</head>

<body>
    <div class="menu">
        <a href=""><img src="../static/img/menu-burger.png"></a>
        <a href="../templates/index.html"><img src="../static/img/home.png"></a>
        <a href=""><img src="../static/img/users-alt.png"></a>
        <p class="name">Головна сторінка</p>
    </div>
    <div class="info_container">
        <div class="info_card">
            <a href="../templates/Tetyana.html"><img src="../static/img/tetiyana_filevska.jpg"></a>
            <p>Тетяна Філевська</p>
        </div>
        <div class="info_card">
            <a href="../templates/MashaVlasenko.html"><img src="../static/img/Vlasenko.jpg"></a>
            <p>Марія Власенко</p>
        </div>
    
        <div class="info_card">
            <a href="../templates/KoltsovaOleksandra.html"><img src="../static/img/Koltsova.jpg"></a>
            <p>Олександра Кольцова</p>
        </div>

        <div class="info_card">
            <a href="../templates/DmytroYasenev.html"><img src="../static/img/DmytroYasenev.jpg"></a>
            <p>Дмитро Ясєнєв</p>
        </div>
    </div>
</div>


</html>