<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Видатні люди ліцею</title>
    <link rel="icon" type="img/png" href="../static/img/logo.png">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Cuprum:ital,wght@0,400..700;1,400..700&display=swap');
    </style>
    <link rel="stylesheet" href="../static/css/mainstyle.css">
</head>

<body>
    <div class="menu">
        <div class="menu_lnz">
            <img src="../static/img/logo.png" class="lnz">
            <p class="lnzz">
                <b>Ліцей "Наукова Зміна"</b>
            </p>
        </div>
        <a href="" style="padding-top: 2.5px;"><img src="../static/img/menu-burger.png" class="icon"></a>
    </div>
    <br>
    <div class="info_container">
        <div class="info_card">
            <a href="Tetyana.html"><img class="photo_card" src="../static/img/tetiyana_filevska.jpg"></a>
            <div class="name-container">
                <b>
                    <p>Тетяна Філевська</p>
                </b>
                <p>Креативна директорка</p>
                <p>"Українського інституту"</p>
            </div>
        </div>
        <br>
        <hr>
        <br>
        <div class="info_card">
            <a href="MashaVlasenko.html"><img class="photo_card" src="../static/img/photo_2025-01-18_16-27-03.jpg"></a>
            <div class="name-container">
                <b>
                    <p>Марія Власенко</p>
                </b>
                <p>Математикиня</p>
                <p>Дослідниця теорії чисел</p>
            </div>
        </div>
        <br>
        <hr>
        <br>
        <div class="info_card">
            <a href="KoltsovaOleksandra.html"><img class="photo_card" src="../static/img/Koltsova.jpg"></a>
            <div class="name-container">
                <b>
                    <p>Олександра Кольцова</p>
                </b>
                <p>Журналістка</p>
                <p>Композиторка</p>
                <p>Солістка гурту “Крихітка”</p>
            </div>
        </div>
        <br>
        <hr>
        <br>
        <div class="info_card">
            <a href="DmytroYasenev.html"><img class="photo_card" src="../static/img/DmytroYasenev.jpg"></a>
            <div class="name-container">
                <b>
                    <p>Дмитро Ясєнєв</p>
                </b>
                <p>Програміст компанії</p>
                <p>"GSC Game World"</p>
            </div>
        </div>
        <br>
        <hr>
        <br>
        <div class="info_card">
            <a href="Olga.html"><img class="photo_card" src="../static/img/OlgaKudinenko.jpg"></a>

            <div class="name-container">
                <b>
                    <p>Ольга Кудіненко</p>
                </b>
                <p>Засновниця благодійного</p>
                <p> фонду «Таблеточки»</p>
            </div>
        </div>
        <br>
        <hr>
        <br>
        <div class="info_card">
            <a href="AndriySuhov.html"><img class="photo_card" src="../static/img/Andriy.jpg"></a>
            
            <div class="name-container">
                <b>
                    <p>Андрій Сухов</p>
                </b>
                <p>IT-підприємець та бізнесмен</p>
                <p> Співзасновник Асоціації провайдерів програмних РРО України <br> співзасновник та CEO сheckbox,
                    Dubidoc, Navkolo
                </p>
            </div>
        </div>
        <br>
        <hr>
        <br>
        <div class="info_card">
            <a href="Deynega Vitaliy.html"><img class="photo_card" src="../static/img/deynegavitaliy.jpg"></a>
            
            <div class="name-container">
                <b>
                    <p>Дейнега Віталій</p>
                </b>
                <p>Заступник міністра оборони з питань цифрового розвитку</p>
                <p> Засновник фонду "Повернись живим"</p>
            </div>
        </div>
        <br>
        <hr>
        <br>
        <div class="info_card">
            <a href="DmytroDzhedzhula.html"><img class="photo_card" src="../static/img/DmytroDzhedzhula.jpg"></a>
            
            <div class="name-container">
                <b>
                    <p>Дмитро Джеджула</p>
                </b>
                <p>Маркетинговий експерт із 20-річним досвідом, консультант <br>і член журі Effie Awards Ukraine</p>
            </div>
        </div>
        <br>
        <hr>
        <br>
        <div class="info_card">
            <a href="EVO.html"><img class="photo_card" src="../static/img/EVO.jpg"></a>
            
            <div class="name-container">
                <b>
                    <p>Микола Палієнко, Денис Горовий, Тарас Мурашко</p>
                </b>
                <p>засновники EVO</p>
            </div>
        </div>
        <br>
        <hr>
        <br>
        <div class="info_card">
            <a href="RomanGorbyk.html"><img class="photo_card" src="../static/img/RomanGorbyk.jfif"></a>

            <div class="name-container">
                <b>
                    <p>Роман Горбик</p>
                </b>
                <p>медіадослідник, викладач Університету Еребру, очільник секції в ECREA.</p>
            </div>
        </div>
        <br>
        <hr>
        <br>
        <div class="info_card">
            <a href="Chubko.html"><img class="photo_card" src="../static/img/SashkoChubko.jpg"></a>
        
            <div class="name-container">
                <b>
                    <p>Чубко Олександр</p>
                </b>
                <p>кінопродюсер і військовий репортер, лауреат численних міжнародних нагород та відзнак.</p>
            </div>
        </div>
        <br>
        <hr>
        <br>
        <div class="info_card">
            <a href="BalykovaNina.html"><img class="photo_card" src="../static/img/BalykovaNina.jpg" style="width: 125px;height: 175px;"></a>
            
            <div class="name-container">
                <b>
                    <p>Ніна Баликова</p>
                </b>
                <p>Українська перекладачка з японської, лавреатка премії ім. Максима Рильського (2018), член НСЖУ.</p>
            </div>
        </div>
        <br>
        <hr>
        <br>
        <div class="info_card">
            <a href="TimofiiOrel.html"><img class="photo_card" src="../static/img/TymofiyOrel.jpg" style="width: 125px; height: 175px;"></a>
        
            <div class="name-container">
                <b>
                    <p>Тимофій Орел</p>
                </b>
                <p>Молодший сержант</p>
                <p> ЗСУ</p>
            </div>
        </div>
        <br>
        <hr>
        <br>
        <div class="info_card">
            <a href="KyryloYarymbash.html"><img class="photo_card" src="../static/img/KyryloYarymbash.jpg" style="width: 125px; height: 175px;"></a>
        
            <div class="name-container">
                <b>
                    <p>Яримбаш Кирило</p>
                </b>
                <p>позивний "ЄНОТ"</p>
            </div>
        </div>
        <br>
        <hr>
        <br>
        <div class="info_card">
            <a href="ShaparenkoNastya.html"><img class="photo_card" src="../static/img/ShaparenkoNastya.png" style="width: 125px; height: 175px;"></a>
        
            <div class="name-container">
                <b>
                    <p>Шапоренко Анастасія</p>
                </b>
                <p>Журналістка, письменниця</p>
            </div>
        </div>
    </div>
</div>
    <br>
    <div class="footer">
        <p>Ліцей “Наукова зміна” 2025, Київ</p>
    </div>

</html>