<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/mainstyle.css">
</head>
<body>
    <div class="menu">
        <a href=""><img src="../static/img/menu-burger.png"></a>
        <a href="../templates/index.html"><img src="../static/img/home.png"></a>
        <a href=""><img src="../static/img/users-alt.png"></a>
        <p class="name">Головна сторінка</p>
    </div>
    <div class="info_card">
        <a href="../templates/Tetyana.html"><img src="../static/img/tetiyana_filevska.jpg"></a>
        <p>Тетяна Філевська</p>
    </div>
</html>