<!DOCTYPE html>
<html lang="uk">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Іван Іванець</title>
    <link rel="icon" type="img/png" href="../static/img/logo.png">
    <link rel="stylesheet" href="../static/css/style.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Cuprum:ital,wght@0,400..700;1,400..700&display=swap');
    </style>
</head>

<body>

    <div class="menu">
        <div class="menu_lnz">
            <a href="../templates/index.html">
                <img src="../static/img/logo.png" class="lnz">
            </a>
            <p class="lnzz">
                <b>Ліцей "Наукова Зміна"</b>
            </p>
        </div>

        <a href="" style="padding-top: 2.5px;">
            <img src="../static/img/menu-burger.png" class="icon">
        </a>
    </div>

    <div class="mcontainer">
        <div class="ccontainer">

            <div class="personal-data">
                <img src="../static/img/IvanIvanec.png"
                     alt="Іван Іванець"
                     class="personal-image"
                     style="width: 150px;">

                <div class="person-info-holder"
                     style="margin-left: 12px; padding-right: 0;">
                    <b>
                        <p>Іван Іванець</p>
                    </b>

                    <p style="margin-left: -6px;">
                        випускник Київського національного університету театру,
                        кіно і телебачення імені І. К. Карпенка-Карого,
                        воїн, Герой.
                    </p>
                </div>
            </div>

            <br>

            <div class="main-text">

                <p class="pair">
                    Іванець Іван Іванович — випускник Київського національного
                    університету театру, кіно і телебачення імені І. К. Карпенка-Карого,
                    який загинув 26 лютого 2026 року під час виконання бойового завдання.
                </p>

                <br>
                <hr>
                <br>

                <p class="pair">
                    Іван навчався на освітньо-професійній програмі
                    «Майстерність диктора та ведучого програм телебачення»
                    та закінчив університет у 2020 році.
                </p>

                <br>

                <p class="pair">
                    Він прагнув розвиватися у багатьох творчих напрямках:
                    хотів опанувати акторську майстерність, режисуру,
                    журналістику, драматургію, роботу художника-постановника
                    та телеоператора.
                </p>

                <br>
                <hr>
                <br>

                <p class="pair">
                    Івана згадують як людину дії, енергії, відповідальності
                    та великого серця. Він не був байдужим до того, що
                    відбувалося навколо, завжди прагнув допомагати іншим
                    і не боявся брати на себе відповідальність.
                </p>

                <br>

                <p class="pair">
                    Його однокурсники згадують, що Іван жив активно,
                    мав великі плани та ідеї, легко знаходив спільну мову
                    з людьми й завжди був готовий прийти на допомогу.
                </p>

                <br>
                <hr>
                <br>

                <p class="pair">
                    Ліза згадує Івана як пристрасну, завзяту та небайдужу
                    людину, яка завжди бралася за справи з великою енергією.
                    За її словами, він мріяв масштабно та хотів прожити
                    життя на повну.
                </p>

                <br>

                <p class="pair">
                    Оля згадує його відповідальним і сміливим. Іван часто
                    першим пропонував допомогу та не боявся братися за
                    складні завдання.
                </p>

                <br>

                <p class="pair">
                    Паша описує Івана як людину, для якої проблем не існувало:
                    якщо виникало завдання, він шукав спосіб його вирішити.
                    Він цінував підтримку, повагу, людяність і прагнув,
                    щоб люди жили в мирі та дружбі.
                </p>

                <br>

                <p class="pair">
                    Ася називала Івана людиною, яка об'єднувала однокурсників
                    у єдину родину. Вона згадувала його як щиру людину,
                    з якою можна було поговорити про все.
                </p>

                <br>

                <p class="pair">
                    Стас згадував Івана як душу компанії, людину справи,
                    яка завжди дарувала посмішку людям навколо.
                </p>

                <br>

                <p class="pair">
                    Інші друзі також згадували Івана як добру, талановиту,
                    енергійну та відповідальну людину, яка залишила
                    важливий слід у житті своїх друзів та однокурсників.
                </p>

                <br>
                <hr>
                <br>

                <p class="pair">
                    Університет висловив щирі співчуття родині, близьким
                    і друзям Івана. Для його однокурсників він назавжди
                    залишиться другом, людиною дії та частиною їхньої
                    університетської родини.
                </p>

                <br>
                <hr>
                <br>

                <p class="pair">
                    Прощання з Іваном Івановичем Іванцем відбулося
                    6 березня 2026 року о 14:00 на Берковецькому кладовищі
                    у Києві.
                </p>

                <br>

                <p class="pair">
                    Світла пам'ять і шана Герою.
                </p>

                <br>
                <hr>
                <br>

                <div class="lifee" style="margin-left: 5%;">
                    <p>Додаткова інформація:</p>

                    <div style="margin-left: 2%;">
                        <p>
                            <a href="https://knutkt.edu.ua/nash-vypusknyk-nash-heroy-proshchannia/"
                               target="_blank"
                               style="color: #0000EE;">
                                Матеріал Київського національного університету
                                театру, кіно і телебачення
                            </a>
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <br>

    <div class="footer">
        <p>Ліцей “Наукова зміна” 2025, Київ</p>
    </div>

</body>
</html>