<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Олександра Кольцова</title>
    <link rel="icon" type="img/png" href="../static/img/logo.png">
    <link rel="stylesheet" href="../static/css/style.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Cuprum:ital,wght@0,400..700;1,400..700&display=swap');
    </style>
</head>

<body>
    <div class="menu">
        <div class="menu_lnz">
            <a href="../templates/index.html"><img src="../static/img/logo.png" class="lnz"></a>
            <p class="lnzz">
                <b>Ліцей "Наукова Зміна"</b>
            </p>
        </div>
        <a href="" style="padding-top: 2.5px;"><img src="../static/img/menu-burger.png" class="icon"></a>
    </div>
    <div class="mcontainer">
        <div class="ccontainer">
            <div class="personal-data">
                <img src="../static/img/Koltsova.jpg" alt="" class="personal-image">
                <div class="person-info-holder" style="margin-left: 12px; padding-right: 0;"> <!--This custom properties was changed to make it look better-->
                    <b><p>Олександра Кольцова</p></b>
                    <p style="margin-left: -6px;">Співачка, композиторка, солістка гурту «Крихітка», екологічна активістка.</p>
                </div>
            </div>
            <br>
            <div class="main-text">
                <p class="pair">Моя група була однією з перших, яка вчилась «Науковій зміні». 
                    У нас було перших два набори: наша група та діти на рік старші. 
                    На час нашого навчання припало дуже багато експериментів. 
                    Тоді у вчителів було багато свободи. 
                    У нас були всякі експериментальні предмети, історія української культури, естетика.
                    У нас навіть викладали запрошені викладачі. 
                    Ми писали наукові роботи на якісь дуже відірвані теми. 
                    Зараз я розумію, що така свобода була би неможливою. 
                    Була така атмосфера, дуже схожа на те, що зараз піднесення національне. 
                    Чомусь я пам'ятаю, що тоді вже нас дуже сильно схиляли до того, 
                    аби ми і на перервах спілкувалися українською, вводили такі негласні правила. 
                    Ми робили газети, ми ставили п'єси, я пам'ятаю. 
                    Анна Романівна брала активну участь тоді, Трусова.</p>
                <br>
                <hr>
                <br>
                <div class="video">
                    <div style="position: relative;">
                        <video class="videoPlayer" style="width: 70%;">
                            <source src="../static/video/Koltsova.mp4" type="video/mp4">
                            <source src="../static/video/Koltsova.ogg" type="video/ogg">
                        </video>
                    </div>
                    <br>
                    <p class="video-caption"><i>Крихітка feat. хейтспіч - Під весняним дощем / альбом Мегалюбов</i></p>
                </div>
                <br>
                <hr>
                <br>
                <p class="paair">Було взагалі дуже цікаво, було багато творчого життя за кордоном.
                    Серед цікавих людей, з якими я вчилася, була Марія Власенко. 
                    Вона математикиня, достатньо відома, зараз викладає в Київській школі економіки і працює в Польщі, 
                    у Франції за кордоном. Вона справжня науковиця, її батьки викладали в ліцеї.
                    Наскільки я знаю, ще досі інколи викладають інформатику. 
                    Також в групі з Марією вчився Дмитро Ясенев, один з розробників Сталкера.
                    Він закінчував кібернетику, якщо я не помиляюся, в Шевченка. 
                    Серед випускників також Юлія Марушевська, в неї політична кар'єра,
                    Віталій Дайнега, засновник «Повернись живим». 
                    А також Оля з таблеточок, ви, мабуть, знаєте цей фонд. 
                    Це все наші випускники. Щодо творчості. 
                    Наскільки я пам'ятаю, усіляко заохочувалися творчі експерименти.
                    У нас було можливість залишатися після занять, мати доступ до актового зала. 
                    Були інструменти, які можна було, в принципі, домовитися про те, щоби 
                    я почала писати пісні ще в одинадцятому класі вдома.
                    І писала якісь пісні для свят, які проводилися в ліцеї. </p>
                <br>
                <hr>
                <br>
                <p class="pair" >
                    Я вдячна викладачам і своїм однокласникам, одногрупникам і тих, 
                    хто зі мною навчився, що вони були сприйняті доволі прихильно. 
                    Я не пам'ятаю ніякого хейту, чесно кажучи. Нам дуже пощастило, 
                    що тоді не було соцмереж. Тому якби всі якісь такі, знаєте, речі критичні.
                    Вони проговорювалися і забувалися, і створювали основи. 
                    Це все не було ніде зафіксовано. І атмосфера цілком була дружня.
                    Я, принаймні, не пам'ятаю фактів булінгу ніяких, і це було дуже круто.
                    Щось обговорювалися, йшлось далі, було цікаво.
                    І була атмосфера підтримки творчих дітей.
                    І коли я зрозуміла, що буду вступати в Київський національно-лінгвістичний університет,
                    вчителі доволі м'яко поставилися, ті, що викладали математику, 
                    зокрема, з розумінням до того, що я вибрала вже фах. 
                    І завдяки цьому в мене був ресурс на те, щоб зосередитись на українській, англійській літературі,
                    так, як я і планувала спочатку. Взагалі, я не знаю, як у вас зараз.
                    На той момент, з одного боку, у нас були правила щодо зовнішності, щодо якихось поведінки, норм. 
                    А з іншого боку, у нас була атмосфера свободи. 
                    Я дуже ціную, що у нас був дискусійний клуб. 
                    Здається, у нас навіть проводилися дебати кілька разів. 
                    І це мені дуже сильно допомогло потім в університеті і, в принципі, в подальшому,
                    тому що дебатні клуби – це клас.</p>
                    <br>
                    <hr>
                    <br>
            </div>
        </div>
    </div>
    <div class="lifee" style="margin-left: 5%;">
        <p>Додаткова інформація:</p>
        <div style="margin-left: 2%; ">
            <p><a href="https://www.ukrinform.ua/rubric-culture/3868282-sasa-kolcova-liderka-gurtu-krihitka.html" target="_blank" style="color: #0000EE;">Саша Кольцова, лідерка гурту «Крихітка»</a></p><br>
            <p><a href="https://rozmova.wordpress.com/2018/02/08/kasha-saltsova-5/" target="_blank" style="color: #0000EE;">Саша Кольцова: Книги – один з найефективніших покращувачів життя | Інтерв'ю з України</a></p><br>
            <p><a href="https://ukrliteratura.com/audiokazky/4312-sonjachna-kvitka.html" target="_blank" style="color: #0000EE;">СОНЯЧНА КВІТКА » УКРлітература Читати книги українською мовою онлайн безкоштовно</a></p><br>
            <p><a href="https://www.youtube.com/clip/UgkxeUM8aE3QaCYG6zoS185n-riHmdTWp9OU" target="_blank" style="color: #0000EE;">КОЛЬЦОВА: "Не виходьте ЗАМІЖ ДО 30"! Як ПОЛЮБИТИ КОЛИШНІХ і не втратити нинішніх</a></p>
        </div>
    </div>
    <br>
    <div class="footer">
        <p>Ліцей “Наукова зміна” 2025, Київ</p>
    </div>
    <script src="../static/scripts/videoPlayer.js"></script>
</body>
</html>