<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Олександра Кольцова</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>
    <div class="menu">
        <a href=""><img src="../static/img/menu-burger.png"></a>
        <a href="../templates/index.html"><img src="../static/img/home.png"></a>
        <a href=""><img src="../static/img/users-alt.png"></a>
        <p class="name">Головна сторінка</p>
    </div>
    <div class="mcontainer">
        <div class="ccontainer">
            <div class="personal-data">
                <img src="../static/img/Koltsova.jpg" alt="" class="personal-image">
                <div class="person-info-holder">
                    <p>Олександра Кольцова</p>
                    <p>Українська співачка (мецо-сопрано), 
                        публіцистка, журналістка, письменниця, ведуча, 
                        композиторка, поетеса, продюсерка,
                        ініціаторка екологічної програми 
                        зі скорочення споживання пластику. 
                        Солістка гурту «Крихітка».</p>
                </div>
            </div>
            <div class="main-text">
                <p class="pair">Моя група була однією з перших, яка вчилась «Науковій зміні». 
                    У нас було перших два набори: наша група та діти на рік старші. 
                    На час нашого навчання припало дуже багато експериментів. 
                    Тоді у вчителів було багато свободи. 
                    У нас були всякі експериментальні предмети, історія української культури, естетика.
                    У нас навіть викладали запрошені викладачі. 
                    Ми писали наукові роботи на якісь дуже відірвані теми. 
                    Зараз я розумію, що така свобода була би неможливою. 
                    Була така атмосфера, дуже схожа на те, що зараз піднесення національне. 
                    Чомусь я пам'ятаю, що тоді вже нас дуже сильно схиляли до того, 
                    аби ми і на перервах спілкувалися українською, вводили такі негласні правила. 
                    Ми робили газети, ми ставили п'єси, я пам'ятаю. 
                    Анна Романівна брала активну участь тоді, Трусова.</p>
                <p class="unpair">Було взагалі дуже цікаво, було багато творчого життя за кордоном.
                    Серед цікавих людей, з якими я вчилася, була Марія Власенко. 
                    Вона математикиня, достатньо відома, зараз викладає в Київській школі економіки і працює в Польщі, 
                    у Франції за кордоном. Вона справжня науковиця, її батьки викладали в ліцеї.
                    Наскільки я знаю, ще досі інколи викладають інформатику. 
                    Також в групі з Марією вчився Дмитро Ясенев, один з розробників Сталкера.
                    Він закінчував кібернетику, якщо я не помиляюся, в Шевченка. 
                    Серед випускників також Юлія Марушевська, в неї політична кар'єра,
                    Віталій Дайнега, засновник «Повернись живим». 
                    А також Оля з таблеточок, ви, мабуть, знаєте цей фонд. 
                    Це все наші випускники. Щодо творчості. 
                    Наскільки я пам'ятаю, усіляко заохочувалися творчі експерименти.
                    У нас було можливість залишатися після занять, мати доступ до актового зала. 
                    Були інструменти, які можна було, в принципі, домовитися про те, щоби 
                    я почала писати пісні ще в одинадцятому класі вдома.
                    І писала якісь пісні для свят, які проводилися в ліцеї. </p>
                <p class="pair" >
                    Я вдячна викладачам і своїм однокласникам, одногрупникам і тих, 
                    хто зі мною навчився, що вони були сприйняті доволі прихильно. 
                    Я не пам'ятаю ніякого хейту, чесно кажучи. Нам дуже пощастило, 
                    що тоді не було соцмереж. Тому якби всі якісь такі, знаєте, речі критичні.
                    Вони проговорювалися і забувалися, і створювали основи. 
                    Це все не було ніде зафіксовано. І атмосфера цілком була дружня.
                    Я, принаймні, не пам'ятаю фактів булінгу ніяких, і це було дуже круто.
                    Щось обговорювалися, йшлось далі, було цікаво.
                    І була атмосфера підтримки творчих дітей.
                    І коли я зрозуміла, що буду вступати в Київський національно-лінгвістичний університет,
                    вчителі доволі м'яко поставилися, ті, що викладали математику, 
                    зокрема, з розумінням до того, що я вибрала вже фах. 
                    І завдяки цьому в мене був ресурс на те, щоб зосередитись на українській, англійській літературі,
                    так, як я і планувала спочатку. Взагалі, я не знаю, як у вас зараз.
                    На той момент, з одного боку, у нас були правила щодо зовнішності, щодо якихось поведінки, норм. 
                    А з іншого боку, у нас була атмосфера свободи. 
                    Я дуже ціную, що у нас був дискусійний клуб. 
                    Здається, у нас навіть проводилися дебати кілька разів. 
                    І це мені дуже сильно допомогло потім в університеті і, в принципі, в подальшому,
                    тому що дебатні клуби – це клас.</p>
            </div>
        </div>
    </div>
</body>
</html>