<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Яримбаш Кирило</title>
    <link rel="icon" type="img/png" href="../static/img/logo.png">
    <link rel="stylesheet" href="../static/css/style.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Cuprum:ital,wght@0,400..700;1,400..700&display=swap');
    </style>
</head>

<body>
    <div class="menu">
        <div class="menu_lnz">
            <a href="../templates/index.html"><img src="../static/img/logo.png" class="lnz"></a>
            <p class="lnzz">
                <b>Ліцей "Наукова Зміна"</b>
            </p>
        </div>
        <a href="" style="padding-top: 2.5px;"><img src="../static/img/menu-burger.png" class="icon"></a>
    </div>
    <div class="mcontainer">
        <div class="ccontainer">
            <div class="personal-data">
                <img src="../static/img/KyryloYarymbash.jpg" alt="" class="personal-image" style="height: 200px;">
                <div class="person-info-holder">
                    <b><p>Яримбаш Кирило</p></b>
                    <p style="margin-left: -6px;">Молодший сержант. Командир 1 стрілецького відділення 3 стрілецького взводу 1-ї стрілецької роти.</p>
                </div>
            </div>
            <br>
            <div class="main-text">
                <p class="pair">Навчався у 295-й школі міста Києва з 1997 по 1999 рік. З 1999 по 2007 рік здобував освіту у ліцеї "Наукова зміна". У 2007 році вступив до Київського економічного університету імені В. Гетьмана, де навчався два роки. З 2010 по 2012 рік продовжив навчання у ВП НУБіП України "Бережанський агротехнічний інститут", отримавши кваліфікацію бакалавра з економіки підприємства. З 2012 по 2013 рік там же здобув кваліфікацію спеціаліста з економіки підприємства.</p>
                <br>
                <hr>
                <br>
                <p class="pair">Трудову діяльність розпочав у 2010 році як озеленювач 2-го розряду в КП з утримання зелених насаджень Дарницького району м. Києва. У 2011-2012 роках працював озеленювачем із підвищенням до кошторисника у планово-економічному відділі КП з утримання зелених насаджень Подільського району. У 2013-2014 роках обіймав посаду менеджера з продажу в ТОВ "Термофіт-Україна". У 2015-2016 роках був директором ТОВ "АВК-Енерго". З 2016 по 2019 рік працював начальником комерційного відділу в ТОВ "ЕОС-Лайт". У 2019-2020 роках займав посаду фахівця з продажу управління дистрибуції у Південному регіоні м. Одеса в ТОВ "Інвестком". З 2020 по 2021 рік працював менеджером зі збуту в ТОВ "Новатек-Електро".</p>
                <br>
                <hr>
                <br>
                <p class="pair">Захоплювався читанням книг, психологією, скандинавською культурою та міфологією. Керувався у житті головним принципом – жити по совісті. Його життєва позиція була непохитною: "Йти до останнього, відстоюючи власну життєву позицію".</p>
                <br>
                <hr>
                <br>
                <p class="pair">З початком повномасштабної війни одразу прибув до Києва, щоб стати на захист Батьківщини. Вступив до 126-го окремого батальйону територіальної оборони 112-ї окремої бригади ТрО та захищав столицю. Був душею компанії, завжди з усмішкою та позитивом ставився до життя. Легко знаходив спільну мову з будь-ким, багато читав. Завжди запитував у знайомих, друзів та рідних, чи потрібна допомога, і був готовий прийти на допомогу. Цінував кожного побратима та пишався тим, що разом із ними стоїть на захисті країни.</p>
                <br>
                <hr>
                <br>
                <p class="pair">У військовій справі прагнув опанувати всі навички, постійно навчався самостійно та передавав знання новоприбулим побратимам. Брав активну участь у заходах із забезпечення оборони України, захисту населення та інтересів держави у зв’язку з військовою агресією РФ. Перебував у Донецькій області, виконуючи бойові завдання.</p>
                <br>
                <hr>
                <br>
                <p class="pair">Загинув 5 лютого 2024 року під час виконання бойового завдання поблизу населеного пункту Діброва, Сєвєродонецького району Луганської області.

                    Мав військове звання молодшого сержанта, обіймав посаду командира 1-го стрілецького відділення 3-го стрілецького взводу 1-ї стрілецької роти ВЧ А 7292.
                    
                    Нагороджений пам’ятною медаллю за оборону Києва, пам’ятною медаллю 112-ї бригади (командир 112-ї бригади Сил ТРО ЗСУ), а також відзначений статусом учасника бойових дій (серія УБД № 545962).
                    
                    Похований у м. Київ на Лісовому кладовищі.</p>
                <br>
                <hr>
                <br>

            </div>
        </div>
    </div>
    <br>
    <div class="footer">
        <p>Ліцей “Наукова зміна” 2025, Київ</p>
    </div>
</body>

</html>
