<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Марія Власенко</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>
    <div class="menu">
        <a href=""><img src="../static/img/menu-burger.png"></a>
        <a href="../templates/index.html"><img src="../static/img/home.png"></a>
        <a href=""><img src="../static/img/users-alt.png"></a>
        <p class="name">Головна сторінка</p>
    </div>
    <div class="mcontainer">
        <div class="ccontainer">
            <div class="personal-data">
                <img src="../static/img/Vlasenko.jpg" alt="" class="personal-image">
                <div class="person-info-holder">
                    <p>Марія Власенко</p>
                    <p>українська математикиня, дослідниця теорії чисел, популяризаторка науки та ініціаторка створення
                        міжнародного математичного
                        центру в Україні</p>
                </div>
            </div>
            <div class="main-text">
                <p class="pair">Марія Власенко (нар. 25 грудня 1979, Київ) — видатна математикиня, яка спеціалізується
                    на теорії чисел. Марія Власенко ще змалку знала, що хоче бути математиком. Під час свого навчання у
                    ліцеї(1992-1996), вона постійно була
                    переможницею Всеукраїнської учнівської олімпіади з математики. Її батьки - програміст та вчителька
                    інформатики нашого
                    ліцею(Тетяна Власенко). Марія Власенко здобула ступінь доктора філософії в Інституті математики НАН
                    України, а
                    наукову кар’єру продовжила за кордоном, працюючи в провідних установах, як-от Інститут Макса Планка
                    в Бонні. Її дослідження охоплюють p-адичну арифметику, когомології та модульні форми, публікації
                    розміщені у престижних наукових виданнях. Власенко читає лекції у Варшавському університеті,
                    сприяючи розвитку науки як в Україні, так і за її межами.</p>
                <p class="unpair">Під час російського вторгнення Марія активно допомагала Україні, організовуючи
                    гуманітарну підтримку. Одночасно вона
                    ініціювала створення в Україні міжнародного математичного центру. Завдяки зусиллям Власенко та її
                    команди, проєкт
                    отримав підтримку міжнародних донорів та урядів інших країн. Мета центру — створити платформу для
                    досліджень і
                    співпраці, залучити талановитих українських науковців і сприяти інтеграції української науки у
                    світову спільноту.
                    Під час російського вторгнення Марія активно допомагала Україні, організовуючи гуманітарну
                    підтримку. Одночасно вона ініціювала створення в Україні міжнародного математичного центру. Завдяки
                    зусиллям Власенко та її команди, проєкт отримав підтримку міжнародних донорів та урядів інших країн.
                    Мета центру — створити платформу для досліджень і співпраці, залучити талановитих українських
                    науковців і сприяти інтеграції української науки у світову спільноту. </p>
                <p class="pair">Марія є прикладом для молодих вчених, популяризуючи математику та беручи участь у
                    освітніх проєктах. Вона організовує
                    лекції й стипендії для студентів, об’єднуючи ресурси зусиллями українських і закордонних
                    дослідників. Своєю роботою
                    Власенко доводить, що математика — це не лише абстракція, а й інструмент змін та розвитку. </p>
            </div>
        </div>
    </div>
</body>

</html>