<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Марія Власенко</title>
    <link rel="icon" type="img/png" href="../static/img/logo.png">
    <link rel="stylesheet" href="../static/css/style.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Cuprum:ital,wght@0,400..700;1,400..700&display=swap');
    </style>
</head>

<body>
    <div class="menu">
        <div class="menu_lnz">
            <a href="../templates/index.html"><img src="../static/img/logo.png" class="lnz"></a>
            <p class="lnzz">
                <b>Ліцей "Наукова Зміна"</b>
            </p>
        </div>
        <a href="" style="padding-top: 2.5px;"><img src="../static/img/menu-burger.png" class="icon"></a>
    </div>
    <div class="mcontainer">
        <div class="ccontainer">
            <div class="personal-data">
                <img src="../static/img/Vlasenko.jpg" alt="" class="personal-image">
                <div class="person-info-holder">
                    <b>
                        <p>Марія Власенко</p>
                    </b>
                    <p style="margin-left: -6px;">українська математикиня, дослідниця теорії чисел, популяризаторка
                        науки</p>
                </div>
            </div>
            <br>
            <div class="main-text">
                <p class="pair">Марія Власенко (нар. 25 грудня 1979, Київ) — видатна математикиня, яка спеціалізується
                    на теорії чисел. Змалку знала, що хоче бути математиком. Навчаючись у ліцеї (1992-1996), вона
                    постійно перемагала на Всеукраїнській олімпіаді з математики. </p>
                <br>
                <hr>
                <br>
                <p class="paair">Наукова діяльність:</p>
                <p class="pair">Марія здобула ступінь доктора філософії в Інституті математики НАН України та продовжила
                    кар'єру в Інституті Макса Планка в Бонні. Її дослідження охоплюють p-адичну арифметику, когомології
                    та модульні форми. Публікації розміщені у престижних наукових виданнях.</p>
                <br>
                <hr>
                <br>
                <p class="paair">Громадська діяльність:</p>
                <p class="pair">Під час російського вторгнення Марія активно допомагала Україні, організовуючи
                    гуманітарну підтримку. Вона ініціювала створення в Україні міжнародного математичного центру, який
                    отримав підтримку міжнародних донорів.</p>
                <br>
                <hr>
                <br>
                <p class="pair">Марія є прикладом для молодих вчених, популяризуючи математику та беручи участь у
                    освітніх проєктах. Вона організовує лекції й стипендії для студентів, об’єднуючи ресурси українських
                    і закордонних дослідників. </p>
            </div>
        </div>
    </div>
    <br>
    <div class="lifee">
        <p>Дізнайся більше про теперішнє життя випускниці у соц. мережах</p>
        <a href="https://m.facebook.com/masha.vlasenko.39/" target="_blank">
            <div class="life">
                <img class="icon" id="inst" src="../static/img/icon.png">
                <p style="margin-left:5px;">Марія Власенко</p>
            </div>
        </a>
        <p>Додаткові статті:</p>
        <div style="margin-left: 2%; ">
            <p><a href="https://life.pravda.com.ua/society/2023/12/14/258224/?_gl=1*1ldmrhp*_ga*MTM4MTI4MTgyNC4xNzMxMzIzMDAw*_ga_6ELQ7YCNBS*MTczMTMyMzAwMC4xLjEuMTczMTMyMzQ1NS41OS4wLjA" target="_blank" style="color: #0000EE;">Формула майбутнього: як під час війни 13 математиків будують в Україні центр передових досліджень</a><br>
            <a href="https://www.nytimes.com/2023/09/12/science/ukraine-mathematics-yulia.html" target="_blank" style="color: #0000EE;">In Ukraine, Mathematics Offers Strength in Numbers</a></p>
        </div>
    </div>
    <br>
    <div class="footer">
        <p>Ліцей “Наукова Зміна” 2025, Київ</p>
    </div>
</body>

</html>