<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ольга Кудіненко</title>
    <link rel="icon" type="img/png" href="../static/img/logo.png">
    <link rel="stylesheet" href="../static/css/style.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Cuprum:ital,wght@0,400..700;1,400..700&display=swap');
        </style>
</head>

<body>
    <div class="menu">
        <div class="menu_lnz">
            <a href="../templates/index.html"><img src="../static/img/logo.png" class="lnz"></a>
            <p class="lnzz">
                <b>Ліцей "Наукова Зміна"</b>
            </p>
        </div>
        <a href="" style="padding-top: 2.5px;"><img src="../static/img/menu-burger.png" class="icon"></a>
    </div>
    <div class="mcontainer">
        <div class="ccontainer">
            <div class="personal-data">
                <img src="../static/img/OlgaKudinenko.jpg" alt="" class="personal-image">
                <div class="person-info-holder">
                    <b><p>Ольга Кудіненко</p></b>
                    <p style="margin-left: -6px;">Фонд «Таблеточки»</p>
                </div>
            </div>
            <br>
            <div class="main-text">
                <p class="pair">Ольга народилася в Україні, отримала освіту в галузі маркетингу та працювала в комерційному секторі. Власний досвід зіткнення з онкологією спонукав її створити проєкт для допомоги дітям, які борються з цим захворюванням.</p>
                <br>
                <hr>
                <br>
                <p class="paair">Благодійний фонд «Таблеточки»:</p>
                <p class="pair">
                    Фонд заснований у 2011 році, коли Ольга зрозуміла, що багато сімей не мають доступу до ліків для лікування раку. «Таблеточки» забезпечує медикаменти, фінансову допомогу, психологічну підтримку та сприяє розвитку паліативної допомоги. Фонд співпрацює з лікарнями й залучає волонтерів та донорів. За роки діяльності став одним із найбільш впізнаваних благодійних проєктів в Україні.</p>
                    <br>
                    <hr>
                    <br>
                    <p class="paair">Досягнення:</p>
                    <p class="pair">
                    Фонд надав багатьом дітям шанс на лікування в Україні й за кордоном. Ольга з командою проводить просвітницьку роботу щодо важливості ранньої діагностики раку. Її діяльність відзначена численними нагородами у благодійній сфері.
                </p>
                <br>
                <hr>
                <br>
                <p class="pair">Ольга отримала диплом бакалавра в «Києво-Могилянській академії» у 2009 році, пройшла курс «Відповідальне лідерство» від Аспен Інституту Київ та навчання у Московській школі менеджменту «Сколково». До заснування «Таблеточок» працювала піар-менеджером у Фонді Віктора Пінчука. Продовжує працювати у фонді як волонтерка, відмовившись від заробітної плати.
                </p>
                <br>
                <hr>
                <br>
                <p class="pair">Ольга заснувала фонд «Таблеточки» у 2013 році після створення волонтерського руху в 2011 році. Фонд надає допомогу онкохворим дітям і працює за чотирма основними напрямками: допомога дітям, підтримка лікарень, підвищення кваліфікації медиків та захист прав хворих дітей. Під опікою фонду щомісяця перебувають 500 дітей та 21 дитяче онковідділення, а загальна допомога, надана з 2011 року, перевищила 400 мільйонів гривень. «Таблеточки» стали першим українським фондом, який створив освітню програму для медиків для підвищення рівня лікування та догляду за онкохворими дітьми.
                </p>
                <br>
                <hr>
                <br>
                <p class="pair">Її внесок у розвиток громадянського суспільства відзначено багатьма нагородами. У 2016 році вона увійшла до списку «Топ 100 успішних жінок України» за версією журналу «Новое время», а з 2014 до 2018 року була у рейтингу «100 найвпливовіших жінок України» за версією журналу «Фокус». У 2014 році потрапила до списку «30 до 30» журналу Forbes. У 2019 році представляла Україну на Всесвітньому економічному форумі в Давосі, а у 2020 році стала третьою українкою, що пройшла програму Fortune-U.S. Department of State Global Women's Mentoring Partnership.
                </p>

        </div>
    </div>
    <br>
    <div class="lifee" style="margin-left: 5%;">
        <p>Дізнайся більше про теперішнє життя випускниці у соц. мережах</p>
        <div class="life">
        <img class="icon" id="inst" src="../static/img/icon.png"><p style="margin-left:5px;"><a href="https://www.instagram.com/olya_kudinenko?igsh=MWlwazJ5Zmd2OHFsOA==">olya_kudinenko</a></p>
    </div>
    </div>
    <br>
    <div class="footer">
        <p>Ліцей “Наукова зміна” 2025, Київ</p>
    </div>
</body>



</html>