<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Роман Горбик</title>    
    <link rel="icon" type="img/png" href="../static/img/logo.png">
    <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>
    <div class="menu">
        <div class="menu_lnz">
            <a href="../templates/index.html"><img src="../static/img/logo.png" class="lnz"></a>
            <p class="lnzz">
                <b>Ліцей "Наукова Зміна"</b>
            </p>
        </div>
        <a href="" style="padding-top: 2.5px;"><img src="../static/img/menu-burger.png" class="icon"></a>
    </div>
    <div class="mcontainer">
        <div class="ccontainer">
            <div class="personal-data">
                <img src="../static/img/RomanGorbyk.jfif" alt="" class="personal-image">
                <div class="person-info-holder" style="margin-left: 12px; padding-right: 0;"> <!--This custom properties was changed to make it look better-->
                    <b><p>Роман Горбик</p></b>
                    <p style="margin-left: -6px;">медіадослідник, викладач Університету Еребру, очільник секції в ECREA.</p>
                </div>
            </div>
            <br>
            <div class="main-text">
                <p class="pair">Роман Горбик — український медіадослідник, старший викладач Університету Еребру (Швеція) та очільник секції «Медіатизація» в Європейській асоціації досліджень комунікації (ECREA).</p>
                <br>
                <hr>
                <br>
                <p class="paair">Освіта та академічна діяльність</p>
                <p class="pair">Закінчив Київський національний університет ім. Тараса Шевченка, де здобув ступені бакалавра (2006) і магістра (2008) за спеціальністю «Журналістика». У 2012 році отримав міжнародний магістерський диплом у сфері медіа та глобалізації, навчавшись в Університеті Орхуса (Данія), Гамбурзькому університеті (Німеччина) та взявши окремі курси в UC Berkeley (США).</p>
                <br>
                <hr>
                <br>
                <p class="pair">
                    Здобув ступінь PhD у Седертенському університеті (Стокгольм, Швеція). Із 2018 року працює постдоком в Університеті Умео, де досліджує наративні структури фейкових новин.
                </p>
                <br>
                <hr>
                <br>
                <p class="paair">Дослідницька діяльність та участь у міжнародних конференціях</p><br>
                <p class="paair">Горбик брав участь у численних міжнародних симпозіумах, серед яких: <br>
                    <p class="paair" style="margin-left: 7%;">
                    • Media Breakdown and Recovery (Швеція, 2022) <br>
                    • ECREA European Communication Conference (Данія, 2022) <br>
                    • ASEEES Annual Convention (США, 2021)</p></p>
                <p class="pair">Публікувався у наукових журналах, займається дослідженнями медіа, політики та журналістики.</p>
                <br>
                <hr>
                <br>
                <p class="paair" >Журналістика та письменницька діяльність</p>
                <p class="pair">Як журналіст працював у редакціях українських ЗМІ, писав для Главкома, Історичної правди, Лівого берега, Телекритики, Українського тижня, Фокуса та інших видань.

                    Один із співзасновників онлайн-часопису «Урбаніст» (2014–2015), присвяченого міській культурі. Автор п’єси «Центр», за мотивами якої у 2017 році було знято фільм «Припутні».
                    
                    Вільно володіє українською, англійською, німецькою та російською мовами.</p>
                <br>
                <hr>
                <br>
            </div>
        </div>
    </div>
    <br>
    <div class="footer">
        <p>Ліцей “Наукова зміна” 2025, Київ</p>
    </div>
</body>
</html>