<!DOCTYPE html>
<html lang="uk">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Анастасія Шапаренко</title>
    <link rel="icon" type="img/png" href="../static/img/logo.png">
    <link rel="stylesheet" href="../static/css/style.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Cuprum:ital,wght@0,400..700;1,400..700&display=swap');
    </style>
</head>

<body>
    <div class="menu">
        <div class="menu_lnz">
            <a href="../templates/index.html"><img src="../static/img/logo.png" class="lnz"></a>
            <p class="lnzz">
                <b>Ліцей "Наукова Зміна"</b>
            </p>
        </div>
        <a href="" style="padding-top: 2.5px;"><img src="../static/img/menu-burger.png" class="icon"></a>
    </div>
    <div class="mcontainer">
        <div class="ccontainer">
            <div class="personal-data">
                <img src="../static/img/ShaparenkoNastya.png" style="height: 200px;" alt="" class="personal-image">
                <div class="person-info-holder">
                    <b><p>Анастасія Шапаренко</p></b>
                    <p style="margin-left: -6px;">Журналістка, письменниця</p>
                </div>
            </div>
        </div>
        <br>
        <div class="main-text">
            <p class="pair">Анастасія Шапаренко — журналістка, номінантка премії імені Миколи Гоголя, лауреатка премії Київського міського голови за особливі досягнення молоді у розбудові столиці України.</p>
            <br>
            <hr>
            <br>
            <p class="pair">Авторка роману "Стиглі вишні", новел "Зайчик" і "Чорна галактика". Лауреатка літературного конкурсу видавництва "Смолоскип".</p>
            <br>
            <hr>
            <br>
            <p class="pair">Випускниця факультету журналістики Київського університету імені Бориса Грінченка, школи творчого та професійного письма Litosvita, а також академії письменницької майстерності та копірайтингу "Риба".</p>
            <br>
            <hr>
            <br>
        </div>
    </div>
    <br>
    <div class="footer">
        <p>Українська література 2025, Київ</p>
    </div>
    <script src="../static/scripts/videoPlayer.js"></script>
</body>

</html>
