<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <div class="menu">
        <a href=""><img src="../static/img/menu-burger.png"></a>
        <a href="../templates/index.html"><img src="../static/img/home.png"></a>
        <a href=""><img src="../static/img/users-alt.png"></a>
        <p class="name">Головна сторінка</p>
    </div>
    <div class="mcontainer">
        <div class="ccontainer">
            <div class="personal-data">
                <img src="../static/img/tetiyana_filevska.jpg" alt="" class="personal-image">
                <div class="person-info-holder">
                    <p>Тетяна Філевська</p>
                    <p>креативна директорка "Українського інституту"</p>
                </div>
            </div>
            <div class="main-text">
                <p class="pair">Арт-менеджерка, кураторка і авторка, дослідниця українського мистецтва ХХ ст. Понад 20 років працює в культурі. В портфоліо – фестивалі, конференції, виставки, освітні курси, книги, фільми. Працювала у різних мистецьких інституціях, зокрема, в фонді сучасного мистецтва ЕЙДОС, Центрі сучасного мистецтва, Платформі культурних ініціатив ІЗОЛЯЦІЯ, Мистецькому Арсеналі. Співзасновниця ГО Інститут Малевича.</p>
                <p class="unpair">Авторка книг «Казимир Малевич. Київський період 1928-1930», «Казимир Малевич. Київський аспект» та «Дмитро Горбачов. Случаї».  Креативна продюсерка фільмів “Малевич. Народжений в Україні” та “Малевич”. Викладає в Українському католицькому університеті, Дипломатичній академії України імені Геннадія Удовенка. Авторка статей та есеїв. </p>
                <p class="pair">Авторка книг «Казимир Малевич. Київський період 1928-1930», «Казимир Малевич. Київський аспект» та «Дмитро Горбачов. Случаї».  Креативна продюсерка фільмів “Малевич. Народжений в Україні” та “Малевич”. Викладає в Українському католицькому університеті, Дипломатичній академії України імені Геннадія Удовенка. Авторка статей та есеїв. </p>
            </div>
        </div>
    </div>
</body>
</html>